.aditya-main-conatiner-outer{
    background-color: #000;
    padding-top: 120px;
    
}

.carousel-control-prev{
    /* left:39px; */
    display: none;
}

.carousel-control-next{
    display: none;
}
.aditya-about-container{
        background-color: #000;
        color: aliceblue;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        width: 89.8vw;
        margin: 0 auto;
        padding:0 .4rem;
        font-size: 1.2rem;
        overflow-x: hidden;
}
.aditya-about-heading{
        font-size: 4rem;
        font-weight: bolder;
        position: relative;
        justify-content: center;  
        width: 90vw;
        text-align: center; 
        margin: 0 auto;
    }
    .aditya-about-heading::after 
    {
    content: "";
    display: block;
    width: 3.5em;
    border-bottom: 2px solid #0090ee;
    margin-left: 42%;
    }
    /* achievement */
    .aditya-about-achievement-right{
        width: 40vw;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 0 .3rem;
        text-align: justify;
    }
    .aditya-about-p-space{
        margin-bottom: .5rem;
        background-color: #000;
    }
    .aditya-about-achievement{
        background-color: #000;
        padding: 50px 0px 0px 0px;
        display: flex;
        flex-direction: row;
    }
    .aditya-about-achievement-left{
        width: 50vw;
        background-color: #0090ee;
        padding: 10px 0px 20px 0px;
    }
    .aditya-about-achievement-title{
        background-color: #0090ee;
        font-size: 3rem;
        font-weight: bold;
        width: fit-content;
        margin-left: 110px; 
        margin-top: 35px;  
    }
    .aditya-about-achievement-span{
        display: block;
        background-color: #0090ee;
    }
    
    /* Story */
 
    .aditya-about-story{
        text-align: justify;
    }
     
    .story-btn{
        background-color: #0090ee;
        padding: .9px 12px;
        font-size: 18px;
        margin: 30px 0 30px 0;
        border-radius: 10px;
        cursor: pointer;
        color: #ffffff;
    }
    .aditya-about-p-text1{
        margin-top: 2px;
        transform: translateY(-210px);
        margin-bottom: -190px;
        /*  */
    }
    .aditya-about-story-head{
        font-size: 3rem;
        padding: 30px 0 10px 0;
        font-weight: bold;
        /*  */
    }   

    /* crousel */
    #carouselExampleFade{
        transform: translateY(-250px);
    }
    .carousel-item-data{
        margin-left: 55%;
        background-color: #0090ee;
        padding: 10px 20px;
        margin-bottom: 10px;
        width: 39vw;
        margin-top: -208px;
        position: absolute;
        border-radius: 10px;
        /*  */
    }  
    
    .carousel-item-data-cont-top{
        width: 70vw;
        display: flex;
        flex-direction: row;
        margin-left: 72px;
        background-color: transparent;
    }
    .carousel-item-data-container{
        background-color: transparent;
    }
    .carousel-item-data-cont-img{
        height: 60vh;
        width: 60vw;
    }
  

@media only screen and (max-width:270px)
{
    .carousel-control-prev{
        display:block;
    }
    
    .carousel-control-next{
        display: block;
    }
    .aditya-about-container{
        padding-top: 100px;
        gap: 10rem;
        width: 89.8vw;
        padding:0 8px 0 0px;
        padding-top: 70px;
        font-size: 16px;
        width: 89.8vw;
        margin: 0 auto;
}

.aditya-about-p-space{
    margin-bottom: .5rem;
}
.aditya-about-p-space2{
    margin-bottom: 1rem;
}
.aditya-about-achievement-right{
    width: 87vw;
    margin-left: 0rem;
}
    
    .aditya-about-heading{
        font-size: 1rem;
    }
    .aditya-about-heading::after 
    {
    margin-left: 38%;
    }
    
    
    .aditya-about-achievement{
        display: flex;
        flex-direction:column-reverse;
        padding-top:10px;
    }
    .aditya-about-achievement-left{
        width: 88vw;
        padding: 10px 0px 40.3px 0px;
    }
    .aditya-about-achievement-title{
        font-size: .8rem;
        margin-left: 0px; 
        margin-top: 5px;  
        text-align: center;
    }
    .aditya-about-achievement-span{
        width: 88vw;
    }
    .aditya-about-p-text1{
        margin-top: 400px;
        margin-bottom: -200px;
    }
    .aditya-about-story{
        text-align: justify;
        font-size: .7;
    }
    .aditya-about-story-head{
        font-size: 1rem;
        padding: 3px 0 5px 0;
   }
    .story-btn{
        padding: 6px 6px;
        margin: 20px 0 20px 0;
        border-radius: 10px;
        font-size: .7rem;
        border: none;
    }

    #carouselExampleFade{
        transform: translateY(-35px);
        display: flex;
        height: 40vh;
        margin-bottom: -265px;
        
    }
  
    .carousel-item-data{
        margin-left: 55%;
        padding: 4px 3px;
        margin-bottom: 3px;
        width: 75vw;
        font-size: .5rem;
        transform: translateX(-100px);
        margin-top: 2px;
    }
    .carousel-item-data-cont-top{
        width: 100vw;
        margin-left: 15px;
        margin-bottom: 2px;
        background-color: transparent;
        
    }
    .carousel-item-data-container{
        background-color: transparent;
        height: 100vh;
        width: 100wh;
    }
    .carousel-item-data-cont-img{
        height: 100vh;
        width: 100wh;
        margin-left: 34px;
    }   
}
@media only screen and (min-width:271px) and (max-width:311px)
{
    .carousel-control-prev{
        display:block;
    }
    
    .carousel-control-next{
        display: block;
    }
    .aditya-about-container{
        font-size: 18px;
        padding-top: 100px;
        }
        .aditya-about-heading{
         font-size: 1rem;
        }
        .aditya-about-heading::after 
        {
         margin-left: 38%;
        }
        .aditya-about-achievement-right{
        width: 87vw;
        margin-left: 0px;
        }
        
        .aditya-about-p-space{
        margin-bottom: 7px;
        }
        .aditya-about-p-space2{
        margin-bottom: 12px;
        }
        .aditya-about-achievement{
        display: flex;
        flex-direction:column-reverse;
        padding-top:10px;
        }
    
        .aditya-about-achievement-left{
        width: 90vw;
        padding: 10px 0px 55px 0px;
        }
        .aditya-about-achievement-title{
        font-size: 1.1rem;
        margin-left: 0px; 
        margin-top: 5px;  
        text-align: center;
        }
        .aditya-about-achievement-span{
        width: 90vw;
        }
        .aditya-about-p-text1{
        margin-top: 200px;
        margin-bottom: -40px;
        transform: translateY(-40px);
           }
        .aditya-about-story-head{
            font-size: 1rem;
            padding: 3px 0 5px 0;
           } 
        .carousel-item-data{
            margin-left: 22%;
            padding: 3px 4px;
            margin-bottom: 2px;
            width: 70vw;
            font-size: 8px;
            transform: translateX(-120px);
            margin-top: 10px;
            }   
        #carouselExampleFade{
                transform: translateY(-50px);
                display: flex;
                height: 40vh;
                margin-bottom: -220px;      
                }

        .aditya-about-story{
        text-align: justify;
        font-size: .7rem;
        }
           
        .story-btn{
        padding: 7px 8px;
        margin: 20px 0 20px 0;
        border-radius: 10px;
        font-size: .7rem;
        border: none;
        }
        #carouselExampleFade{
        transform: translateY(-45px);
        display: flex;
        height: 40vh;
        margin-bottom: -220px;      
        }
        
        .carousel-item-data-cont-top{
        width: 100vw;
        margin-left: 0px;
        margin-bottom: 10px;
        background-color: transparent;       
        }
        .carousel-item-data-container{
        background-color: transparent;
        height: 100vh;
        width: 100vh;
        }
        .carousel-item-data-cont-img{
        height: 100vh;
        width: 100vh;
        margin-left: 58px;
        }   
        
        .aditya-about-p-text1{
            font-size: 9px;
        }
        .aditya-about-p-text{
            font-size: 9px;
        }
}


@media only screen and (min-width:311px) and (max-width:382px)
{
    .carousel-control-prev{
        display:block;
        left:-10px;
        top:-120px
    }
    
    .carousel-control-next{
        display: block;
        right:-10px;
        top:-120px
    }
    .aditya-about-container{
        font-size: 18px;
        }
        .aditya-about-heading{
         font-size: 2rem;
        }
        .aditya-about-heading::after 
        {
         margin-left: 32.5%;
         margin-bottom: 30px;
        }
        .aditya-about-achievement-right{
        width: 87vw;
        margin-left: 0px;
        }
        .aditya-about-p-space{
        margin-bottom: 6px;
        }
        .aditya-about-p-space2{
        margin-bottom: 12px;
        }
        .aditya-about-achievement{
        display: flex;
        flex-direction:column-reverse;
        padding-top:10px;
        }
        .aditya-about-achievement-left{
        width: 90vw;
        padding: 10px 0px 100px 0px;
        }

        .aditya-about-achievement-span{
        width: 90vw;
        }
        .aditya-about-story{
            text-align: justify;
            font-size: .7rem;
            }

        
        .aditya-about-p-text1{
        margin-top: 520px;
        margin-bottom: -190px;
        }
        
        .aditya-about-story-head{
        font-size: 2.5rem;
        padding: 3px 0 5px 0;
        }  
        .carousel-item-data{
            margin-left: 40%;
            padding: 3px 4px;
            margin-bottom: 10px;
            width: 72vw;
            font-size: .7rem;
            transform: translateX(-96px);
            margin-top: 17px;
            }  
            #carouselExampleFade{
                transform: translateY(-89px);
                display: flex;
                height: 400px;
                margin-bottom: -380px;      
                }
        
        
        .carousel-item-data-cont-top{
        width: 140vw;
        margin-left: 0px;
        margin-bottom: 0px;
        background-color: transparent; 

        }
        .carousel-item-data-container{
        background-color: transparent;
        height: 100vh;
        width: 100wh;
        }
        .carousel-item-data-cont-img{
        height: 100vh;
        width: 100wh;
        margin-left:30px;
        }  

        .aditya-about-achievement-title{
            font-size: 1.7rem;
            margin-left: 0px; 
            margin-top: 5px;  
            text-align: center;
            }
        
        .story-btn{
            padding: 18px 20px;
            margin: 20px 0 20px 0;
            border-radius: 10px;
            font-size: 16px;
            border: none;
            }
        .aditya-about-p-text1{
            font-size: 18px;
        }
        .aditya-about-p-text{
            font-size: 18px;
        }
}


@media only screen and (min-width:383px) and (max-width:470px)
{
    
    .carousel-control-prev{
        display:block;
        left:-10px;
        top:-120px
    }
    
    .carousel-control-next{
        display: block;
        right:-10px;
        top:-120px
    }
    .aditya-about-container{
        font-size: 18px;
        }
        .aditya-about-heading{
         font-size: 2.5rem;
         margin-bottom: 40px;
        }
        .aditya-about-heading::after 
        {
         margin-left: 31.5%;
        }
        .aditya-about-achievement-right{
        width: 88vw;
        margin-left: 0px;
        }
        .aditya-about-p-space{
        margin-bottom: 15px;
        }
        .aditya-about-p-space2{
        margin-bottom: 15px;
        }
        .aditya-about-achievement{
        display: flex;
        flex-direction:column-reverse;
        padding-top:10px;
        }
        .aditya-about-achievement-left{
        width: 87vw;
        padding: 20px 0px 100px 0px;
        }
        .aditya-about-achievement-title{
        font-size: 1.8rem;
        margin-left: 0rem; 
        margin-top: 5px;  
        text-align: center;
        }
        .aditya-about-achievement-span{
        width: 86vw;
        }

        .aditya-about-p-text1{
        margin-top: 500px;
        margin-bottom: -180px;
        }
        .aditya-about-story{
        text-align: justify;
        font-size: .7rem;
        }
        .aditya-about-story-head{
        font-size: 1.9rem;
        padding: 3px 0 5px 0;
        } 
        #carouselExampleFade{
            transform: translateY(-75px);
            display: flex;
            height: 50vh;
            margin-bottom: -410px;      
            }
            .carousel-item-data{
            margin-left: 48%;
            padding: 5px 5px;
            margin-bottom: 5px;
            width: 74vw;
            font-size: .7rem;
            transform: translateX(-135px);
            margin-top: 2px;
            }   
        .story-btn{
        padding: 16px 18px;
        margin: 20px 0 20px 0;
        border-radius: 10px;
        font-size: .9rem;
        border: none;
        }
       
        .carousel-item-data-cont-top{
        width: 135vw;
        margin-left: 0px;
        margin-bottom: 12px;
        background-color: transparent;       
        }
        .carousel-item-data-container{
        background-color: transparent;
        height: 100vh;
        width: 100wh;
        }
        .carousel-item-data-cont-img{
        height: 90vh;
        width: 90wh;
        margin-left: 40.9px;
        } 
        .aditya-about-p-text1{
            font-size: 18px;
        }
        .aditya-about-p-text{
            font-size: 18px;
        }    
}

@media only screen and (min-width:470px) and (max-width:500px)
{

    .aditya-about-container{
        padding-top: 11rem;
        font-size: 1.2rem;
    }
    .aditya-about-heading{
        font-size: 2rem;
        margin-left: 0rem;
    }
    .aditya-about-heading::after 
    {
    margin-left: 42%;
    }

    .aditya-about-container{
        font-size: .55rem;
    }
    .aditya-about-achievement{
        padding-top:40px;
    }
    
    .aditya-about-achievement-right{
        width: 50vw;
        margin-left: .5rem;
        margin-right: .5rem;
        
    }
    
    .aditya-about-achievement-left{
        width: 40vw;
        padding: .5rem 0px 18.5rem 0px;
        height: .2vh;
    }
    .aditya-about-achievement-title{
        font-size: 1.4rem;
        margin-left: 1rem; 
        margin-top: 3.5rem;  
    }
    .aditya-about-achievement-span{
        display: block;
    }
    
    .aditya-about-p-text1{
        margin-top: 1rem;
        transform: translateY(-17rem);
        margin-bottom: -270px;
    }
    .aditya-about-story-head{
        font-size: 1.3rem;
        padding: 3px 0 5px 0;
        font-weight: bold;
    } 

    #carouselExampleFade{
        transform: translateY(-6.5rem);
        margin-bottom: -30px; 
    }
    .carousel-item-data{
        margin-left: 45%;
        padding: .5rem .5rem;
        margin-bottom: 1rem;
        width: 47vw;
        margin-top: -270px;
        position: absolute;
    }
    .aditya-about-story{
        text-align: justify;
    }
      
    .story-btn{
        background-color: #0090ee;
        padding: .7rem .8rem;
        font-size: 12px;
        margin: 30px 0 30px 0;
        border-radius: 10px;
        cursor: pointer;
        color: #ffffff;
        border: none;
    }

    .carousel-item-data-cont-top{
        width: 70vw;
        display: flex;
        flex-direction: row;
        margin-left: .5rem;
        background-color: transparent;
        margin-bottom: 200px;

    }
    .carousel-item-data-container{
        background-color: transparent;
    }
    .carousel-item-data-cont-img{
        height: 60vh;
        width: 60vh;
    }
    .aditya-about-p-text1{
        font-size: 1.2rem;
    }
    .aditya-about-p-text{
        font-size: 1.2rem;
    }  
    

}    
 @media only screen and (min-width:501px) and (max-width:1200px)
{
    .aditya-about-container{
        font-size: .55rem;
    }
    .aditya-about-heading{
        font-size: 2rem;
    }
    .aditya-about-achievement{
        padding-top:40px;
    }
    
    .aditya-about-achievement-right{
        width: 50vw;
        margin-left: .5rem;
        margin-right: .5rem;
        
    }
    
    .aditya-about-achievement-left{
        width: 40vw;
        padding: .5rem 0px 15rem 0px;
        height: .2vh;
    }
    .aditya-about-achievement-title{
        font-size: 1.4rem;
        margin-left: 1rem; 
        margin-top: 2rem;  
    }
    .aditya-about-achievement-span{
        display: block;
    }
   
    .aditya-about-p-text1{
        margin-top: 1rem;
        transform: translateY(-17rem);
        margin-bottom: -18rem;
        padding: 0 .3rem 0 0;
    }

    .aditya-about-story-head{
        font-size: 1.5rem;
        padding: 1.7rem 0 .2rem 0;
        font-weight: bold;
    }
    .carousel-item-data{
        
        padding: .5rem .5rem;
        margin-bottom: 1rem;
        width: 47vw;
        margin-left: 45%;
        margin-top: -295px;
        position: absolute;
    } 
    .aditya-about-p-text{
        padding: 0 .3rem 0 0;
    }
    .aditya-about-story{
        text-align: justify;
    }
       
    .story-btn{
        padding: .7rem .8rem;
        font-size: 12px;
        margin: 15px 0 30px 0;
        border-radius: 10px;
        cursor: pointer;
        border: none;
    }

    #carouselExampleFade{
        transform: translateY(-6rem);
        

    }
    
    
    
    .carousel-item-data-cont-top{
        width: 70vw;
        display: flex;
        flex-direction: row;
        margin-left: .5rem;
        background-color: transparent;
        margin-bottom: 200px;

    }
    .carousel-item-data-container{
        background-color: transparent;
    }
    .carousel-item-data-cont-img{
        height: 60vh;
        width: 60vh;
    }
           
} 
@media only screen and (min-width:732px) and (max-width:1200px)
{
    .aditya-about-heading{
    }
    .carousel-item-data{
        margin-top: -48vh;
        width: 47vw;

    }
     
    .carousel-item-data-cont-top{
        margin-left: .8rem;

    }
    .aditya-about-container{
        font-size: .7rem;
    }
    #carouselExampleFade{
        transform: translateY(-8rem);

    }

    .carousel-item-data{
        
        margin-top: -290px;
    }
    .aditya-about-story-head{
        padding: 1.7rem 0 .2rem 0;
    }    
    .story-btn{
        margin: 15px 0 30px 0;
    }
    
}
@media only screen and (min-width:925px) and (max-width:1200px)
{
    .aditya-about-heading{
    }
    .carousel-item-data{
        
        margin-top: -340px;
    }
    
     
    .carousel-item-data-cont-top{
        margin-left: .8rem;

    }
    .aditya-about-container{
        font-size: .9rem;
    }
    #carouselExampleFade{
        transform: translateY(-11rem);
        margin-bottom: -70px;
    }
    
    .aditya-about-achievement-left{
        padding: .5rem 0px 19rem 0px;
        height: .2vh;
    }
    .aditya-about-achievement-title{
        margin-left: 2rem;
        font-size: 2rem;
    }
    /* .aditya-about-achievement-title{
        margin-left: 6rem;
        margin-top: 5rem;
        font-size: 3rem;
    } */
}

@media only screen and (min-width:1201px) and (max-width:1480px)
{
    .aditya-about-heading{
    }
    .carousel-item-data{
        margin-top: -220px;
        width: 40vw;
        font-size: .9rem;
    }
    
     
    .carousel-item-data-cont-top{
        margin-left: 5rem;
        margin-bottom: 40px;

    }
    .aditya-about-container{
        font-size: 1rem;
    }
    #carouselExampleFade{
        transform: translateY(-16rem);
        margin-bottom: -2px;
    }
    
    .aditya-about-achievement-left{
        padding: .5rem 0px 40rem 0px;
        height: .5vh;
    }
    .aditya-about-achievement-title{
        margin-left: 6rem;
        margin-top: 5rem;
        font-size: 3rem;
    }
}

